body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.clickable {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toastify-success {
  color: "#FFFFFF";
  background: "#A54224 !important";
}

.toastify-fail {
  color: "#FFFFFF";
  background: "#550C18 !important";
}

.toastify-progress {
  background: "#FFFFFF";
}
